include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include plugin_manager *.css
recursive-include plugin_manager *.csv
recursive-include plugin_manager *.html
recursive-include plugin_manager *.ico
recursive-include plugin_manager *.js
recursive-include plugin_manager *.json
recursive-include plugin_manager *.md
recursive-include plugin_manager *.png
recursive-include plugin_manager *.py
recursive-include plugin_manager *.svg
recursive-include plugin_manager *.txt
recursive-exclude plugin_manager *.pyc